coverage
sphinx-book-theme
sphinx-copybutton
sphinx-design
sphinx-exec-directive
sphinx-gallery
myst-parser
linkify-it-py
matplotlib
# the examples the gallery executes
brainweb-dl
sigpy
torchio
SimpleITK
deepinv
mri-nufft
finufft
cmap
